.git/
.gitignore
.svn/
node_modules/
dist/
build/
out/
*.log
npm-debug.log
yarn-error.log
tmp/
*.env
*.config.js
.dockerenv
*.swp
*.swo
.vscode/
.idea/
test/
tests/
spec/
docs/
*.md
